.game-code-enter {
    position: absolute;
    width: 12rem;
    top: 4rem;
    right: calc(50% - 301.5px - 1rem);
    transform: translateX(100%);
}

.start-a-game.hide, .find-a-game.hide {
    display: none;
}

.start-a-game, .find-a-game {
    position: relative;
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 0.4em;
    margin: 0.5rem 0;
    width: 12rem;
}

.minimize-button {
    height: 1rem;
    position: absolute;
    top: 1.25rem;
    right: 1rem;
}

.minimize-button:hover {
    cursor: pointer;
}

#game-code-container {
    position: relative;
    border-radius: 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.input-field-div {
    padding: 0.5rem 1rem;
    border-radius: 0.4em;
    border: 1px solid #cccc;
}

.input-field-div:focus-within {
    border: #1f1b1b 1px solid;
}

#game-code, #game-code:focus,
#game-code-search, #game-code-search:focus {
    all: unset;
    color: #1f1b1b;
    font-size: 1rem;
}

#copy-text { 
    height: 1rem;
}


/* text copied message */

#copy-text:hover {
    cursor: pointer;
}

#copy-message {
    display: none;
    position: absolute;
    background-color: #1f1b1b;
    color: white;
    padding: 0.5rem;
    right: 0;
    transform: translateX(-1rem);
    /* transform: translateX(calc(100% + 0.5rem)); */
    border-radius: 0.4em;
}


